
.nfg-cc-toggle-fields {
  -o-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: none;
}

.nfg-show {
  display: block;
}

.form-type-nfg-cc-number {
  
}

.form-type-nfg-cc-number .form-disabled {
  display: block;
}

.form-type-nfg-cc-number .nfg-cc-new-card {
  display: none; 
}

.nfg-hide .form-disabled {
  display: none;
}

.nfg-hide .nfg-cc-new-card {
  display: block;
}

.nfg-hide-all .form-disabled,
.nfg-hide-all .nfg-cc-new-card {
  display: none;
}

.nfg-cc-container-inline .form-item {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
}
